In [1]:
import pandas as pd
import numpy as np

caravan = pd.read_csv('datasets/Caravan.csv')
caravan.describe()

,MOSTYPE,MAANTHUI,MGEMOMV,MGEMLEEF,MOSHOOFD,MGODRK,MGODPR,MGODOV,MGODGE,MRELGE,...,ALEVEN,APERSONG,AGEZONG,AWAOREG,ABRAND,AZEILPL,APLEZIER,AFIETS,AINBOED,ABYSTAND
count,5822.000000,5822.000000,5822.000000,5822.000000,5822.000000,5822.000000,5822.000000,5822.000000,5822.000000,5822.000000,...,5822.000000,5822.000000,5822.000000,5822.000000,5822.000000,5822.000000,5822.000000,5822.000000,5822.000000,5822.000000
mean,24.253349,1.110615,2.678805,2.991240,5.773617,0.696496,4.626932,1.069907,3.258502,6.183442,...,0.076606,0.005325,0.006527,0.004638,0.570079,0.000515,0.006012,0.031776,0.007901,0.014256
std,12.846706,0.405842,0.789835,0.814589,2.856760,1.003234,1.715843,1.017503,1.597647,1.909482,...,0.377569,0.072782,0.080532,0.077403,0.562058,0.022696,0.081632,0.210986,0.090463,0.119996
min,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,10.000000,1.000000,2.000000,2.000000,3.000000,0.000000,4.000000,0.000000,2.000000,5.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,30.000000,1.000000,3.000000,3.000000,7.000000,0.000000,5.000000,1.000000,3.000000,6.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,35.000000,1.000000,3.000000,3.000000,8.000000,1.000000,6.000000,2.000000,4.000000,7.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,41.000000,10.000000,5.000000,6.000000,10.000000,9.000000,9.000000,5.000000,9.000000,9.000000,...,8.000000,1.000000,1.000000,2.000000,7.000000,1.000000,2.000000,3.000000,2.000000,2.000000

In [2]:
yes_no = {'Yes': 1, 'No': 0}
caravan['Purchase'] = caravan['Purchase'].replace(yes_no)
caravan['Purchase'].value_counts()

0    5474
1     348
Name: Purchase, dtype: int64

In [3]:
y = caravan['Purchase']
X = caravan.drop(['Purchase'], axis=1)
X.shape

(5822, 85)

In [4]:
X_test = X[:1000]
X_train = X[1000:]
X_test.shape, X_train.shape

((1000, 85), (4822, 85))

In [5]:
y_test = y[:1000]
y_train = y[1000:]
y_test.shape, y_train.shape

((1000,), (4822,))

In [6]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(max_iter=2000)
logreg.fit(X_train, y_train)

LogisticRegression(max_iter=2000)

In [8]:
from sklearn.metrics import confusion_matrix
y_pred = logreg.predict(X_test)
print(confusion_matrix(y_test, y_pred))

[[939   2]
 [ 59   0]]

In [9]:
predictions = pd.DataFrame(logreg.predict_proba(X_test))
predictions[predictions[:][1] >= .25]

            0         1
36   0.719686  0.280314
87   0.690634  0.309366
91   0.631998  0.368002
127  0.683607  0.316393
130  0.528637  0.471363
183  0.714438  0.285562
206  0.165112  0.834888
220  0.747380  0.252620
235  0.733583  0.266417
246  0.702384  0.297616
340  0.592731  0.407269
386  0.740985  0.259015
423  0.644668  0.355332
461  0.741809  0.258191
482  0.638687  0.361313
510  0.722224  0.277776
626  0.742024  0.257976
684  0.618282  0.381718
739  0.579495  0.420505
762  0.593907  0.406093
774  0.159048  0.840952
778  0.730846  0.269154
784  0.747704  0.252296
810  0.671143  0.328857
815  0.700350  0.299650
868  0.683496  0.316504
927  0.716218  0.283782

In [10]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train_scaled = sc.fit_transform(X_train)
X_test_scaled = sc.transform(X_test)

In [11]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=1)
knn.fit(X_train_scaled, y_train)

In [12]:
y_pred = pd.Series(knn.predict(X_test_scaled))
print(confusion_matrix(y_test, y_pred))

[[874  67]
 [ 50   9]]

In [23]:
predictions[predictions[:][1] >= .25].count()

0    27
1    27
dtype: int64

In [24]:
predictions[predictions[:][1] >= .25].index

Int64Index([ 36,  87,  91, 127, 130, 183, 206, 220, 235, 246, 340, 386, 423,
            461, 482, 510, 626, 684, 739, 762, 774, 778, 784, 810, 815, 868,
            927],
           dtype='int64')

In [31]:
pred_list = predictions[predictions[:][1] >= .25].index

In [32]:
pred_list.dtype

dtype('int64')

In [33]:
pred_list

Int64Index([ 36,  87,  91, 127, 130, 183, 206, 220, 235, 246, 340, 386, 423,
            461, 482, 510, 626, 684, 739, 762, 774, 778, 784, 810, 815, 868,
            927],
           dtype='int64')

In [35]:
pred_list[22]

784

In [39]:
count_zero = 0
count_one = 0
for i in range(len(pred_list)):
    print(pred_list[i], y_test[pred_list[i]])
    if y_test[pred_list[i]] == 0:
        count_zero = count_zero + 1
    else:
        count_one = count_one + 1
print('count zero', count_zero)
print('count_one', count_one)

36 0
87 0
91 0
127 1
130 0
183 0
206 0
220 0
235 1
246 1
340 0
386 0
423 0
461 0
482 0
510 1
626 1
684 1
739 0
762 1
774 0
778 0
784 0
810 0
815 1
868 0
927 0
count zero 19
count_one 8